<div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-6">
            <h4>{{title}}</h4>
        </div>
        <div class="col-lg-6" style="text-align: end;">
            <button class="btn btn-sm yellow-btn" [routerLink]="['/draw-results']"><i class="fa fa-close"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form [formGroup]="drawannounceform">
                <input type="hidden" name="id" formControlName="id" />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Select Competition</label>
                            <select class="form-control" name="competition_id" placeholder="Select Competition" style="padding: 8px;cursor: pointer;" id="competition_id" formControlName="competition_id">
                    <option value="">Select Competition</option>
                        <option *ngFor="let cd of competitionarray" [value]="cd.id">{{cd.competition}}</option>
                    </select>
                            <div *ngIf="isSubmitted && formControls.competition_id.errors" class="help-block">
                                <span *ngIf="formControls.competition_id.errors.required">
                            competition is required
                        </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Result Date</label>
                            <div class='input-group'>
                                <input angular-mydatepicker type="text" class="form-control" placeholder="Result date" formControlName="result_date" name="result_date" [options]="myDatePickerOptions" #dp="angular-mydatepicker" (dateChanged)="onDateChanged($event,'result_date')" />
                                <div class=" input-group-append ">
                                    <span class="input-group-text "> <a style="cursor: pointer; " class="fa fa-calendar " (click)="dp.toggleCalendar() "></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Result Time</label>
                            <div class='input-group'>
                                <input type="time" class="form-control" placeholder="Result Time" formControlName="result_time" name="result_time" (change)="onTimeChange($event,'start_time')" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-group pull-right">

                    <button type="button" class="btn yellow-btn" [disabled]="!drawannounceform.valid" (click)="savedrawannounce()">
                                <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading}"></i>{{action}}</button>
                </div>
            </form>
            <!-- {{drawannounceform.value | json}} -->
        </div>
    </div>
</div>