<div class="row">
    <div class="col-md-6">
        <h4>Earn 1% of all your transactions</h4>
    </div>
    <div class="col-md-6"></div>
</div>
<div class="row justify-content-center">
    <div class="col-md-4 col-sm-8 col-xs-3" style="background-color: rgb(254, 193, 7); height: 150px; display: flex; justify-content: center; border-radius: 20px;">
        <div style="margin-top: auto; margin-bottom: auto;">
            <h4>Available Balance</h4>
            <h2 class="text-center">£ 0.00</h2>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="transaction-title mt-5">
        <div class="bd-bottom">
            <h5>Wallet Transactions</h5>
        </div>
    </div>
</div>
<h6 class="mt-4">No Wallet Transactions Found </h6>