<div>
    <form [formGroup]="changepasswordform">

        <h4>Change Password</h4>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Current Password" name="current" formControlName="current" />
                    <span *ngIf="isSubmitted && formControls.current.errors" class="help-block">
                        <span *ngIf="formControls.current.errors.required">
                            Current Password is required
                        </span>
                    </span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="password" formControlName="password" />
                    <span style="font-size: 13px;color:#a8a9b0;">password must be 8 characters, 1 upper case letter, and 1 special character</span><br>
                    <span *ngIf="isSubmitted && formControls.password.errors" class="help-block">
                        <span *ngIf="formControls.password.errors.required">
                            Password is required
                        </span><br>
                    <span *ngIf="formControls.password.errors && (formControls.password.touched || formControls.password.dirty)">
                            password must be strong.
                    </span>
                    </span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm Password" name="password_confirmation" formControlName="password_confirmation" />
                    <span *ngIf="isSubmitted && formControls.password_confirmation.errors" class="help-block">
                        <span *ngIf="formControls.password_confirmation.errors.required">
                            Confirm Password is required
                        </span>
                    </span>
                </div>
                <div class="form-group">
                    <div class="text-center input-field ">
                        <input type="submit" class="btn btn-block yellow-btn" style="padding: .375rem .75rem;" (click)="updatepassword()" value="Update Password">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- {{changepasswordform.value | json}} -->

</div>