<div class="container" style="padding: 30px 40px;">
    <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
            <div class="login-card">
                <h4>Reset Password </h4>
                <form [formGroup]="resetpasswordform">
                    <input type="hidden" name="token" fomControlName="token" />
                    <input type="hidden" name="email" placeholder="Email" formControlName="email">
                    <!-- <div class="input-field" style="margin-bottom: 50px;">
                        <div class="input-wrap">
                            <i class="fa fa-envelope"></i>
                            <input type="hidden" name="email" placeholder="Email" formControlName="email">
                            <span *ngIf="isSubmitted && formControls.email.errors" class="help-block">
                                <span *ngIf="formControls.email.errors.required">
                                    Email is required
                                </span>
                            </span>
                        </div>
                    </div> -->
                    <div class="input-field">
                        <div class="input-wrap">
                            <i class="fa fa-envelope"></i>
                            <input type="password" name="password" placeholder="Password" formControlName="password">
                            <span *ngIf="isSubmitted && formControls.password.errors" class="help-block">
                                <span *ngIf="formControls.password.errors.required">
                                    Password is required
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-wrap">
                            <i class="fa fa-envelope"></i>
                            <input type="password" name="password_confirmation" placeholder="Confirm Password" formControlName="password_confirmation">
                            <span *ngIf="isSubmitted && formControls.password_confirmation.errors" class="help-block">
                                <span *ngIf="formControls.password_confirmation.errors.required">
                                    Confirm Password is required
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="text-center input-field">
                        <button type="submit" class="btn btn-block yellow-btn" (click)="resetpassword()">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>