<div class="container" style="padding: 30px 40px;">
    <div class="row">
        <div class="">
            <div class="heading_blog">
                <h2 class="border_yellow">PRIVACY POLICY</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="playpoint">
                <p>This privacy policy sets out how SMD Giveaways protects any information that you provide and also uses it.</p>
            </div>
            <div class="playpoint">
                <p>We adhere to the principles of the data protection legislation as set out in the Data Protection Act 1998 and EU General Data Protection Regulation (GDPR).</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="">
            <div class="heading_blog">
                <h1 class="border_yellow">Information you provide to us </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="playpoint">
                <p>Your privacy is important to us. We minimise the information we ask you to provide for purposes of contact for the competition and our terms and conditions. We are committed to keeping the privacy and security of any personal information that we receive from you. By providing personal information such as your name and e-mail address via the forms on this website, you agree to us contacting you with regard to the information you request.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="">
            <div class="heading_blog">
                <h4 class="border_yellow">Using your personal information</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="playpoint">
                <p>Personal information which you supply to us will be used:</p>
            </div>
            <div class="playpoint">
                <p>•	Competition rules</p>
            </div>
            <div class="playpoint">
                <p>•	Notification of competition live draws </p>
            </div>
            <div class="playpoint">
                <p>•	Notificationof competition live winners</p>
            </div>
            <div class="playpoint">
                <p>Some forms on our website also include a check box asking you for permission for us to add you to our mailing list. This is an opt-in mailing list and your personal information will be used solely by us. Under no circumstances will your personal information be sold or used by any other organisation.</p>
            </div>
            <div class="playpoint">
                <p>From time to time, we may include links in our e-mails to other web sites which we think may be of interest to you.</p>
            </div>
            <div class="playpoint">
                <p>Each email communication you receive from us will have the option to remove your e-mail address from our list.</p>
            </div>
            <div class="playpoint">
                <p>Personal information will be stored electronically permanently unless otherwise stated or agreed.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="">
            <div class="heading_blog">
                <h4 class="border_yellow">Information we monitor about visitors</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="playpoint">
                <p>During the course of any visit to our site, the pages you see, along with a short text file called a ‘cookie’, are downloaded to your computer. Many websites do this, because cookies facilitate useful features such as the ability to identify whether a user has successfully logged into the site or to find out whether the computer (and probably its user) has visited the website before.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="">
            <div class="heading_blog">
                <h4 class="border_yellow">Security</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="playpoint">
                <p>We are committed to ensuring that your information is secure.  In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect and process.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="">
            <div class="heading_blog">
                <h4 class="border_yellow">Your rights</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="playpoint">
                <p>You have the right to request access to and rectification or erasure of data, to object to and request the restriction of processing and to data portability.</p>
            </div>
            <div class="playpoint">
                <p>Under the DPA 1998, you may ask us to provide you with the details of any personal information that we hold about you. Such request should be sent to our Data Protection Officer at data@bmdgiveaways.co.ukwhose details are below.  We will not charge any fee and we will respond within one calendar month.   If we refuse a request, we will explain why and set out your rights to complain.</p>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="">
            <div class="heading_blog">
                <h4 class="border_yellow">Changes</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="playpoint">
                <p>We will post any material changes that we may make to our Privacy Policy in the future on this page and, where appropriate, we will notify you of the change by email.</p>
            </div>
        </div>
    </div>
</div>