<div class="container" style="padding: 30px 40px;">
    <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
            <div class="login-card">
                <h4>Recover Password </h4>
                <form [formGroup]="forgotpasswordform">
                    <div class="input-field" style="margin-bottom: 50px;">
                        <div class="input-wrap">
                            <i class="fa fa-envelope"></i>
                            <input type="email" name="email" placeholder="Email" formControlName="email">
                            <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
                                <span *ngIf="formControls.email.errors.required">
                                    Email is required
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="text-center input-field">
                        <button type="submit" class="btn btn-block yellow-btn" [attr.disabled] = "disableforgotpswd == true ? 'disabled' : null " (click)="fotgotpassword()">Send Recover Email</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>