<footer style="padding: 30px 0;border-top: 1px solid #333;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 alignmentpayment">
                <div class="cardpayment">

                    Payment Methods:
                    <div class="cards">
                        <img src="assets/img/footer/visa.png" alt="" style="width: 50px;height:30px;">
                        <img src="assets/img/footer/mastercard.png" alt="" style="width: 50px;height:30px;"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="copyright" style="font-size: 15px;">Copyright © 2020 SMD Giveaways <br>
                    <a href="javascript:void(0)" [routerLink]="['/tnc']">Term &amp; Conditions</a> | <a [routerLink]="['/privacy-policy']">Privacy Policy</a>  <br>
                    <a>SOCIAL MEDIA DATA LIMITED</a><br>
                    <a>130 Old Street, London, England, EC1V 9BD</a><br>
                    <!-- | <a href="#">Faqs</a> | <a href="#">Newsletter</a> <br> -->
                    <a href="#" target="_blank" rel="noopener noreferrer">info@smdgiveaways.co.uk</a> | 01233 555888
                    <!-- | <span>01253 836633</span> -->
                </div>
            </div>
            <div class="col-md-3 alignmentpayment">
                <div class="falink">
                    <a href="" target="_blank" rel="noopener noreferrer" style="color:  #c4302b;">
                        <i class="fa fa-youtube"></i>
                    </a>
                    <a href="#" target="_blank" rel="noopener noreferrer" style="color: #00acee;">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="javascript:void(0)" (click)="login_facebook()" target="_blank" rel="noopener noreferrer" style="color: #3b5998;">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>