<app-header></app-header>
<div class="jumbotron text-center" style="background-color: #000;">
    <img style="width: 130px;height:130px" src="assets/img/png/tick3.png" />
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Thank you for your purchase with SMD Giveaways! </strong> <a href="javasscript:void(0)" (click)="gotohome()">Click here</a> to view other competitions.</p>
    <hr style="margin-bottom: 0px;
    border-bottom: 1px solid #fdcc03 !important;">
    <!-- <p>
        Having trouble? <a href="">Contact us</a>
    </p> -->
    <p class="lead">
        <!-- <a class="btn yellow-btn btn-sm" href="javasscript:void(0)" (click)="gotohome()" role="button">Home</a> -->
        <a class="btn yellow-btn btn-sm" href="javasscript:void(0)" (click)="gotomytickets()" role="button">Logout</a>
    </p>
</div>
<app-footer></app-footer>