<div class="container" style="padding: 30px 40px;">
    <div class="row">
        <div class="col">
            <div class="heading_blog">
                <h2 class="border_yellow">Payment Status</h2>
            </div>
        </div>
    </div>
    <div class="payment-no-information">
        <div class="row">
            <div class="col-lg-12">
                <div class="white-box">
                    <div class="bordered-box">
                        <div class="text-md">No Payment information Found</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>