<div class="container" style="padding: 30px 40px;">
    <div class="row">
        <div class="col">
            <div class="heading_blog">
                <h2 class="border_yellow">Select Billing Address</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <div class="address-section container">
                    <header>Existing billing addresses</header>
                    <div class="section-item-wrapper row">
                        <div class="col-sm-4 mt20">
                            <div class="address-card card">
                                <div class="card-body">
                                    <h5 class="card-title">google yahoo</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">google@gmail.com | 321164694131</h6>
                                    <p class="card-text">68546</p>
                                    <p class="card-text">4613</p>
                                    <p class="card-text">htyhgcvn - 4631313</p>
                                    <div class="text-center input-field mt20">
                                        <input type="submit" (click)="gotocheckout()" value="Checkout »"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="address-section container">
                    <header class="mb20 mt20">Add a new billing address</header>
                    <form class="row" style="display: flex; flex-wrap: wrap;">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" name="First Name" class="form-control" placeholder="* First Name" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" name="Last Name" class="form-control" placeholder="* Last Name" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Email" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" name="phone " class="form-control" placeholder="* Phone Number" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <textarea type="text" name="address1" class="form-control" placeholder="* Address line 1"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <textarea type="text" name="address2" class="form-control" placeholder="* Address line 2"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" name="town" class="form-control" placeholder="Town" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" name="Post Code" class="form-control" placeholder="Post Code" />
                            </div>
                        </div>
                        <div class="text-center input-field col-sm-12">
                            <input type="submit" value="Checkout »"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>